### Q18) Implement Multiple Linear Regression on “Advertising” dataset using Normal Equation Method.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("Advertising.csv")
dataset.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [3]:
x1=np.array(dataset['TV'])
x2=np.array(dataset['radio'])
x3=np.array(dataset['newspaper'])
y=np.array(dataset['sales'])
n=len(x1)
x0=np.ones((n,1))
x1_n=np.reshape(x1,(n,1))
x2_n=np.reshape(x2,(n,1))
x3_n=np.reshape(x3,(n,1))
x=np.append(x0,x1_n,axis=1)
x=np.append(x,x2_n,axis=1)
x=np.append(x,x3_n,axis=1)

x_trans=np.transpose(x)
x_trans_dot_x=x_trans.dot(x)
temp1=np.linalg.inv(x_trans_dot_x)
temp2=x_trans.dot(y)
theta=temp1.dot(temp2)
b0=theta[0]
b1=theta[1]
b2=theta[2]
b3=theta[3]
print("beta0: ",round(b0,4))
print("beta1: ",round(b1,4))
print("beta2: ",round(b2,4))
print("beta3: ",round(b3,4))

beta0:  2.9389
beta1:  0.0458
beta2:  0.1885
beta3:  -0.001

In [4]:
y_pred=b0+x1*b1+x2*b2+x3*b3
y_bar=np.mean(y)
ssr=np.sum((y-y_pred)**2)
sst=np.sum((y-y_bar)**2)
accuracy=1-(ssr/sst)
print("Accuracy Score: ", round(accuracy,6))
var=np.mean(y-y_pred)
MSE=var**2
print("Mean Squared Error: ", MSE)
print("Root Mean Squared Error: ", np.sqrt(MSE))

Accuracy Score:  0.897211
Mean Squared Error:  2.1412919297409665e-29
Root Mean Squared Error:  4.6274095666376524e-15